[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-admin-rangefilter = "*"
django-celery-beat = "*"
django-import-export = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
h11 = "*"
hiredis = "*"
httplib2 = "*"
httptools = "*"
msgpack = "*"
oauthlib = "*"
odfpy = "*"
openpyxl = "*"
protobuf = "*"
psycopg2-binary = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pyjwt = "*"
pyopenssl = "*"
pyparsing = "*"
python-crontab = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
"zope.interface" = "*"
django-cors-headers = "*"
gevent = "*"
whitenoise = "*"
openai-whisper = "*"
setuptools-rust = "*"
speechbrain = "*"

[dev-packages]

[requires]
python_version = "3.10"
